.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.main-content {
  flex: 1;
  margin-left: 250px;
  min-height: 100vh;
  background-color: #242424;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 200px;
  }
}
